<div class="container">
        <div class="row justify-content-center" style="margin: 66px;">
            <div class="col-md-9 col-lg-12 col-xl-10">
                <div class="card shadow-lg o-hidden border-0 my-5">
                    <div class="card-body p-0">
                        <div class="row">
                            <div class="col-lg-6 d-none d-lg-flex">
                                <div class="flex-grow-1 bg-login-image" style="background-image: url(&quot;assets/img/dogs/image3.jpeg&quot;);"></div>
                            </div>
                            <div class="col-lg-6">
                                <div class="p-5">
                                    <div class="text-center">
                                        <h4 class="text-dark mb-4">Blacklist someone!</h4>
                                    </div>
                                    <div class="custom-control custom-checkbox small">
                                        <p>To blacklist a user, simply copy their user ID from discord and paste it here.<br><br>The User ID looks a little something like this:</p>
                                    </div>
                                    <form class="user" action="/blacklisteduser" method="POST">
                                        <div class="form-group"><input name="userid" id="userid" class="form-control" type="text" required="" minlength="2" maxlength="32" placeholder="948357841668745596"></div><button class="btn btn-primary btn-block text-white btn-user" type="submit">Register</button>
                                        <hr>
                                        <hr>
                                    </form>
                                    <div class="text-center"></div>
                                    <div class="text-center"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>