
    <div class="container">
        <div class="row justify-content-center" style="margin: 66px;">
            <div class="col-md-9 col-lg-12 col-xl-10">
                <div class="card shadow-lg o-hidden border-0 my-5">
                    <div class="card-body p-0">
                        <div class="row">
                            <div class="col-lg-6 d-none d-lg-flex">
                                <div class="flex-grow-1 bg-login-image" style="background-image: url(&quot;assets/img/dogs/image3.jpeg&quot;);"></div>
                            </div>
                            <div class="col-lg-6">
                                <div class="p-5">
                                    <div class="text-center">
                                        <h4 class="text-dark mb-4">Hey!</h4>
                                        <p>
                                            Seems like youre not logged in, please log in with your discord account so we can make sure you are on the PixliesEarth discord and have a verified e-mail address.
                                        </p>
                                    </div>
                                    <form class="user" >
                                        <div class="form-group">
                                            <div class="custom-control custom-checkbox small"></div>
                                        </div>
                                        <form>
                                        <button type="submit" class="btn btn-secondary btn-block text-white btn-user"> <a href="{{url}}"> Login </a></button>
                                        </form>
                                        <hr>
                                        <hr>
                                    </form>
                                    <div class="text-center"></div>
                                    <div class="text-center"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
